<div class='userEditPage'>
  <div class='header'>アカウント編集</div>
  <div class='container'>
    <%= form_for current_user, url: registration_path(current_user) do |f| %>

      <div class="form-group">
        <%= f.label 'ニックネーム' %>
        <%= f.text_field :nickname, class: "form-control" %>
      </div>

      <div class="form-group">
        <label>名前（漢字）</label>
        <%= f.text_field :full_name, class: "form-control", placeholder: "漢字（空白なし）で入力してください" %>
      </div>

      <div class="form-group">
        <label>名前（カナ）</label>
        <%= f.text_field :full_name_kana, class: "form-control", placeholder: "カナ（空白なし）で入力してください" %>
      </div>  
    
      <div class="form-group">
        <%= f.label '自己紹介' %>
        <%= f.text_area :self_introduction, class: "form-control" %>
      </div>
    
      <div class="form-group">
        性別:
        <%= f.label '男' %>
        <%= f.radio_button :sex, :男 %>
        <%= f.label '女' %>
        <%= f.radio_button :sex, :女 %>
      </div>

      <div class="form-group"> 
      <%= f.label :生年月日 %>
      <div class="input-birth-wrap d-flex justify-content-start">
        <%= raw sprintf(
                    f.date_select(
                      :birth_day,
                      class:'select-birth',
                      id:"birth-date",
                      use_month_numbers: true,
                      prompt:'🏀',
                      start_year: 1930,
                      end_year: (Time.now.year - 5),
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>

      <div class="form-group">
        <label>好きなチーム</label>
        <%= f.collection_select(:team_id, Team.all, :id, :name,{}) %><br />
      </div> 
    
      <div class="form-group">
        画像:
        <%= f.file_field :img_name %>
      </div>

      <div class="form-group">
        <%= f.label '更新するにはパスワードを入力してください' %>
        <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
      </div>
    
      <div class="text-center">
        <%= f.submit '更新', class: "btn submitBtn" %>
      </div>

    <% end %>
  </div>
</div>