<div class="singupPage">
  <header class="header">
    <div>сѓбсѓФсѓдсЃ│сЃѕсѓњСйюТѕљ</div>
  </header>
  <div class='container'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:"mt-5" }) do |f| %>
      <%= devise_error_messages! %>

      <label for="file_photo" class="rounded-circle userProfileImg">
        <div class="userProfileImg_description">ућ╗тЃЈсѓњсѓбсЃЃсЃЌсЃГсЃ╝сЃЅ</div>
        <i class="fas fa-camera fa-3x"></i>
        <%= f.file_field :img_name, id: "file_photo" %>
      </label>

      <div class="userImgPreview" id="userImgPreview">
        <img id="thumbnail" class="userImgPreview_content">
        <p class="userImgPreview_text">ућ╗тЃЈсѓњсѓбсЃЃсЃЌсЃГсЃ╝сЃЅТИѕсЂ┐</p>
      </div>

      <div class="form-group">
        <label>сЃІсЃЃсѓ»сЃЇсЃ╝сЃа</label>
        <%= f.label :т┐Ёжаѕ, class:"badge badge-danger" %><br/>
        <%= f.text_field :nickname, class: "form-control", placeholder: "сЃІсЃЃсѓ»сЃЇсЃ╝сЃасѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё" %>
      </div>

      <div class="form-group">
        <label>тљЇтЅЇ№╝ѕТ╝бтГЌ№╝Ѕ</label>
        <%= f.label :т┐Ёжаѕ, class:"badge badge-danger" %><br/>
        <%= f.text_field :full_name, class: "form-control", placeholder: "Т╝бтГЌ№╝ѕуЕ║уЎйсЂфсЂЌ№╝ЅсЂДтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё" %>
      </div>

      <div class="form-group">
        <label>тљЇтЅЇ№╝ѕсѓФсЃі№╝Ѕ</label>
        <%= f.label :т┐Ёжаѕ, class:"badge badge-danger" %><br/>
        <%= f.text_field :full_name_kana, class: "form-control", placeholder: "сѓФсЃі№╝ѕуЕ║уЎйсЂфсЂЌ№╝ЅсЂДтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё" %>
      </div>      

      <div class="form-group">
        <label>сЃАсЃ╝сЃФсѓбсЃЅсЃгсѓ╣</label>
        <%= f.label :т┐Ёжаѕ, class:"badge badge-danger" %><br/>
        <%= f.email_field :email, class: "form-control", placeholder: "emailсѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё" ,autocomplete: "email" %>
      </div>

      <div class="form-group">
        <label>сЃЉсѓ╣сЃ»сЃ╝сЃЅ</label>
        <%= f.label :т┐Ёжаѕ, class:"badge badge-danger" %><br/>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>ТќЄтГЌС╗ЦСИітЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control", placeholder:"сЃЉсѓ╣сЃ»сЃ╝сЃЅсѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё", autocomplete: "off" %>
      </div>

      <div class="form-group">
        <label>сЃЉсѓ╣сЃ»сЃ╝сЃЅ(уб║УфЇ)</label>
        <%= f.label :т┐Ёжаѕ, class:"badge badge-danger" %><br/>
        <%= f.password_field :password_confirmation, class:"form-control", placeholder: "сЃЉсѓ╣сЃ»сЃ╝сЃЅсѓњтєЇт║дтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё", autocomplete: "off" %>
      </div>

      <div class="form-group">
        <label for=''>ТђДтѕЦ</label>
        <%= f.label :т┐Ёжаѕ, class:"badge badge-danger" %><br/>
        <div class="form-check form-check-inline">
          <%= f.radio_button :sex, "ући", class: "form-check-input", id: "inlineRadio1" %>
          <label class="form-check-label" for="inlineRadio1">ући</label>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :sex, "тЦ│", class: "form-check-input", id: "inlineRadio2" %>
          <label class="form-check-label" for="inlineRadio2">тЦ│</label>
        </div>
      </div>

      <div class="form-group"> 
      <%= f.label :ућЪт╣┤ТюѕТЌЦ %>
      <%= f.label :т┐Ёжаѕ, class:"badge badge-danger" %><br/>
      <div class="input-birth-wrap d-flex justify-content-start">
        <%= raw sprintf(
                    f.date_select(
                      :birth_day,
                      class:'select-birth',
                      id:"birth-date",
                      use_month_numbers: true,
                      prompt:'­ЪЈђ',
                      start_year: 1930,
                      end_year: (Time.now.year - 5),
                      date_separator: '%s'),
                    "<p> т╣┤ </p>", "<p> Тюѕ </p>") + "<p> ТЌЦ </p>" %>
      </div>

      <div class="form-group">
        <label>УЄфти▒у┤╣С╗ІТќЄ</label>
        <%= f.label :т┐Ёжаѕ, class:"badge badge-danger" %><br/>
        <%= text_area :user, :self_introduction, maxlength: "1000", rows: "10", class:"form-control" %>
      </div>

      <div class="text-center">
        <%= f.submit "сЂ»сЂўсѓЂсѓІ", class: "btn submitBtn" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>