<div class="follow">
  <%= render 'shared/header' %>
  <h5 class="follow_text">好きなチームが同じ方をフォローしてみませんか？</h5>
  <div class="container"> 
    <div class=" row follow_user">
      <% @users.each do |user|%>
        <ul class="follow_user_each">
          <li class="follow_user_each_img">
            <%= image_tag user.img_name.url(:thumb), size:"100x100" %>
          </li>
          <li class="follow_user_each_information">
            <%= link_to user_path(user.id) do %>
            <%= user.nickname %>
            <% end %>
          </li>
          <li class="follow_user_each_follow" id="follow-logo">
            <%= link_to reactions_path(user_id: user.id, reaction: 'like'), method: :post do %>
            <div><i class="fa fa-thumbs-up fa-2x" style="color: darkorange;"></i></div>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
    <div class="follow_skip">
      <%= link_to user_path(current_user.id) do %>
        <h5>今はフォローしない👉</h5>
      <% end %>
    </div>
</div>

  