<div class="card tweet-card mx-auto">
  <div class="card-img-top">
    <%= link_to discussion_tweet_path(tweet.id)  do %>
      <%= image_tag tweet.image, class:"img-fluid tweet-image py-1 px-1 my-1 ", size: "150x150" %>
    <% end %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= tweet.name%></h5>
    <p class="card-text"><%= tweet.text %></p>
    <p class="card-text"><%= tweet.team.name%></p>
    <span>投稿者</span><%= link_to "#{tweet.user.nickname}", user_path(tweet.user.id) %>
  </div>
</div>
