<div class="card" style="width: 20rem; text-align: center;">
<%# <div class="container"> %>
  <div class="card_body">
    <h5 class="card-text" style="margin-bottom: 10px;"><%= tweet.name%></h5>
  </div>
    <%= link_to discussion_tweet_path(tweet.id)  do %>
      <%= image_tag "#{tweet.image}", class:"img-fluid", style:"height: 30vh; weigth: 20rem;" %>
    <% end %>
  <div class="card-body">
    <p class="card-text"><%= tweet.text %></p>
    <p>投稿者 : <%= link_to "#{tweet.user.nickname}", user_path(tweet.user.id) %></p>
  </div>
<%# </div> %>
</div>
