<%= render 'shared/header' %>
<div class="summary">
  <div class="container">
    <div class="col summary_timer ">
        <h4>東京五輪バスケ開催まで</h4>
        <p class="h4"><span id="day" class="h2"></span>日<span id="hour" class="h2"></span>時間<span id="min" class="h2"></span>分<span id="sec" class="h2"></span>秒</p>
    </div>
    <div class="row summary_up">
      <div class="col summary_up_title">
        <h4>MatchAppへようこそ</p>
        <h4><i class="fas fa-user-friends" style="color: darkoragen;"></i>仲間を集めよう</p>
      </div>
      <div class="col summary_up_search">
        <%= link_to seek_home_index_path, class:"summary_up_btn" do %>
          <div class="summary_up_btn_icon">はじめる</div>
        <% end %>
      </div>
    </div>
    <div class="row summary_down">
      <div class="col-xs-4">
        <%= link_to chat_home_index_path, class:"summary_down_btn" do %>
          <div class="summary_down_btn_icon"><i class="fas fa-basketball-ball"></i></div>
        <% end %>
      </div>
      <div class="col-xs-4">  
        <%= link_to other_home_index_path, class:"summary_down_btn" do %>
          <div class="summary_down_btn_icon"><i class="fa fa-gamepad"></i></div>
        <% end %>
      </div>
      <div class="col-xs-4">
      <a href="https://lin.ee/pHke6nm" class="summary_down_btn_line"></a>
      </div>
    </div>
  </div>
<%= render 'shared/footer' %>

<script>
  'use strict';

  function countdown(due) {
    const now = new Date();

    const rest = due.getTime() - now.getTime();
    const sec = Math.floor(rest / 1000) % 60;
    const min = Math.floor(rest / 1000 / 60) % 60;
    const hours = Math.floor(rest / 1000 / 60 / 60) % 24;
    const days = Math.floor(rest / 1000 / 60 / 60 / 24);
    const count = [days, hours, min, sec];

    return count;
}


function recalc(){
  const counter = countdown(goal);
  document.getElementById('day').textContent = counter[0];
  document.getElementById('hour').textContent = counter[1];
  document.getElementById('min').textContent = String(counter[2]).padStart(2, '0');
  document.getElementById('sec').textContent = String(counter[3]).padStart(2, '0');
  refresh();
}

function refresh(){
  setTimeout(recalc, 1000);
}

let goal = new Date(2021, 7, 25);
recalc();

</script>